<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.te.springcore.bean.Employee" id="employee"
		autowire="constructor">
		<!-- <property name="empId"> -->
		<!-- <value>20</value> -->
		<!-- </property> -->
		<!-- <property name="Address" ref="address" /> -->
		<constructor-arg name="empId" value="20" />
	</bean>

	<bean class="com.te.springcore.bean.Address" id="address">
		<property name="addressId">
			<value>1200</value>
		</property>
	</bean>

	<!-- <bean class="com.te.springcore.bean.Address" id="address1"> -->
	<!-- <property name="addressId"> -->
	<!-- <value>1200</value> -->
	<!-- </property> -->
	<!-- </bean> -->
</beans>